/* about-styles.css */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
} */

/* header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
} */

/* nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.about-content {
  max-width: 800px;
  margin: 20px auto;
  margin-top: 200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-content h2 {
  color: #333;
}

.about-content p {
  color: #666;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
} */
.all_about {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 98%;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 3px;
  margin-top: 90px;
}
.heading {
  text-align: center;
  margin-top: 25px;
}
.heading h1 {
  font-size: 50px;
  color: #36455c;
  margin-bottom: 10px;
}
.heading p {
  font-size: 20px;
  color: #666;
  margin-bottom: 50px;
}
.about-us {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
}
.about-us img {
  flex: 0.5%;
  max-width: 50%;
  height: auto;
  border-radius: 4px;
}
.content_about {
  padding: 35px;
}
.content_about h2 {
  color: #36455c;
  /* font-size: 24px; */
  margin: 15px 0px;
  font-family: var(--ff-mr_de_haviland);
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
}

.content_about p {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}
.read-more {
  display: inline-block;
  color: #fff;
  background-color: black;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}
.read-more:hover {
  background-color: darkslategrey;
}
@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }
  .about-us img {
    flex: 0 100%;
    max-width: 100%;
  }
  .content_about {
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;
  }
}
