.myclass {
  /* border: 2px solid black; */
  border-radius: 5%;
}
.section .container_cart {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh; /* Adjust to desired height */
  background-color: #f0f0f0; /* Background color for the whole page */
}
.container_cart .content_cart {
  display: flex;
  margin-top: 100px;
  align-items: center;
  padding: 20px;
  width: 95%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container_cart .content_cart:first-child {
  margin-top: 100px;
}
.container_cart .content_cart:not(:first-child) {
  margin-top: 30px;
}
.container_cart .content_cart:last-child {
  margin-bottom: 30px;
}

.content_cart .cart_dispaly_imag {
  flex: 1;
  /* padding-right: 10px; */
}
.cart_dispaly_imag img {
  max-width: 100%;
  height: auto;
}
.content_cart .cart_display_text {
  flex: 2;
  padding: 0;
  margin-left: -190px;
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
}
.content_cart .cart_disply_btn {
  flex: 2;
}
.cart_display_text .remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
}
.background_cart {
  position: relative;
  background-image: url("./images/Cart_1.jpg"); /* Replace with your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px; /* Adjust the height as needed */
}
.background_cart .content_cart_none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.cart_display_empty img {
  max-width: 400px;
  margin-bottom: 10px;
}
